<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/UpdatedPortfolio/updated/assets/fav2@2x.png">
    <title>Jackson Stein</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- jquery CDN-->
    <script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
</head>
<body onload = "followMouse();">
    <div class="cursor" id="ball"></div>
    <div class="cursorPoint"></div>

    <div id="app">
        <div class="loader">
            <img class="loadingGif" src="assets/loading.gif" alt="loader">
        </div>
        <!-- <div class="hidden-container">
            <div class="hidden-left"></div>
            <div class="hidden-right"
                 @mouseover="displayText = true"
                 @mouseleave="displayText = false">
            </div>
        </div> -->
        <nav>
            <div class='navContainer'>
                <ul class='nav-links'>
                    <li class='contact'>SEE MY <b>RESUME</b></li>
                    <div class="logoContainer">
                        <!-- <li><img class='logo' src="assets/Logo.gif" alt="Logo"></li> -->
                       <img class='logoStatic' src="assets/StaticLogo@3x.png" alt="Logo">
                   </div>
                   <!-- <hr class = "leftLine"> -->
                    <div class="linesDiv">
                        <hr lass = "leftLine">
                        <div class = "leftLineDark"></div> 
                    </div>
                    <li class="emptyLogo">
                    </li>
                    <div class="linesDiv">
                        <hr class = "rightLine">
                        <div class = "rightLineDark"></div>
                    </div>
                    <div class='portfolioLink'
                         @mouseover="displayText = true"
                         @mouseleave="displayText = false">
                        SEE MY<b> PORTFOLIO</b>
                        <img class="arrow" src="assets/arrow@3x.png" alt="arrow">
                    </div>
                    
                </ul>
            </div>  
        </nav>
        <div v-if='displayText' class="animatedText bio">
            <div class="letterContainer"
            v-for='(letter, index) in bioLetters'>
                <span class="letters bio">{{letter}}</span>
                <div class="textHideBoxes small" ></div>
            </div>
        </div>
        <div v-if='displayText' class="animatedText"> 
            <div class="letterContainer"
            v-for='(letter, index) in letters'>
                <span class="letters">{{letter}}</span>
                <div class="textHideBoxes large" ></div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> minified -->
<script src="sketch.js"></script>
<script src="main.js"></script>
<!-- Flickity JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


