html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }
body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
    cursor: none;
}
canvas {
    display: block;
}

.logo {
    max-width: 10rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.lightMode {
    color: white;
}
.loadingGif {
    position: fixed;
    z-index: 99;
    transform: scale(.3);
}
.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.loader.hidden {
    animation: loaded 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes loaded {
    0% {
        top: 0;
    }
    100% {
        top: -70rem;
    }
}
.material-icons {
    color: white;
}
.navContainer {
    position: relative;
}
.nav-links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    height: 100vh;
    top: -4rem;
    align-items: center;
    color: white;
    margin: auto;
    list-style-type:none;
}
.nav-links li {
    padding: 1rem;
    font-weight: 800;
    letter-spacing: .05rem;
    z-index: 10;
}
.lightMode {
    position: absolute;
}
.rightArrow {
    position: absolute;
    left: 0rem;
    top: .25rem;
    height: 4rem;
}
.portfolioLink {
    position: relative;
}
.cursor {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute; 
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 10;
}
.cursorPoint {
    width: .5rem;
    height: .5rem;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    position: absolute;
    z-index: 10;
}
#ball {
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    pointer-events: none;
    z-index: 10;
}
.link-grow {
    transform: scale(8);
    background: white;
    opacity: .4;
}
.hovered-link {
    color:  rgb(209, 0, 105);
    z-index: 3;
}
.hovered-link-point {
    display: none;
}
.letters {
    color: white;
    font-size: 15rem;
    font-weight: 500;
}
.letters.bio {
    font-size: 6rem;
}
.letterContainer {
    position: relative;
}
.animatedText {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    top: 8rem;
    left: 30rem;
        //animation
    animation: moveText 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.animatedText > div > span {
    animation: colorText 1s;
    // animation-delay: .2s;
    animation-fill-mode: both;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
@keyframes colorText {
    0% {
        color: rgb(255, 145, 1);
    }
    60% {
        color: rgb(255, 145, 1);
    }
    80% {
        color: rgb(0, 225, 255);
    }
    100% {
        color: white;
    }
}
.animatedText.bio {
    top: -2rem;
    left: 60rem;
        //animation
    animation: moveBioText 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-40rem);
    }
}
@keyframes moveBioText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80rem);
    }
}
.textHideBoxes {
    height: 15rem;
    width: 15rem;
    background-color: rgb(0, 119, 255);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: boxes 1.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.textHideBoxes:hover {
    width: 0rem;
}

@keyframes boxes {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
        display: none;
    }
}